{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-sm-7 col-sm-offset-3 main">
{% else %}
<div class="col-sm-8 col-sm-offset-2 main">
{% endif %}
    <div class="jumbotron">
        <h1>{{ course.name }}</h1>
        <p>{{ course.description }}</p>
        {% if course_form %}
			<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
				{{ course_form|crispy }}
				<input type='submit' class='btn btn-success btn-block' value='Upload Course JSON' />
			</form>
		{% endif %}
        {% if question_form %}
			<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
				{{ question_form|crispy }}
				<input type='submit' class='btn btn-success btn-block' value='Upload Question JSON' />
			</form>
		{% endif %}
    </div>
</div>

{% endblock %}