/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

hr {
  max-width: 90%;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-fixed-top {
    border: 0;
    background-color: #2c3e50;
  }

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-fixed-top li:hover {
    background-color:#3cc47c;
}

.sidebar a {
    color: #2c3e50;
    text-decoration: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    color: #2c3e50;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #2c3e50;
}

.sidebar li:hover {
    background-color:#3cc47c;
}

/*
 * Main content
 */

.main {
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.banner {
  /*background-image: url("../img/bridge3.jpg");
  background-position: center;
  align: right;*/
}

.banner .jumbotron hr{
  border-top: 1px solid #BBB;
}

.banner .jumbotron h1{
  text-align: left;
}

.banner .homelogin {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-top: 20px;
}

.founders .jumbotron {
  background-color: #3cc47c;
  color: white;
  text-align: center;
}
.founders img {
  width: 80%;
}

.bluebox header{
  background-color: #2c3e50;
  border:1px solid #2c3e50;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: #2c3e50;
  font-size: 50px;
}
.bluebox h1{
  text-align: center;
}
.bluebox hr {
  padding: 0px;
}
.jumbotron {
  padding: 20px;
  background-color: #F5F5F5;
}
.jumbotron h1 {
  font-size: 40px;
  text-align: center;
}
.jumbotron h2 {
  font-size: 35px;
}
.jumbotron p {
  font-size: 16px;
}
.jumbotron {
  padding-top: 20px;
}
.jumbotron h4 {
  font-size: 100%;
  color: #FFFFFF;
  text-align: center;
}

.dashboard {
  text-align: center;
}

.dashboard h3 {
  text-align: left;
}

.gaugeholder {
  padding-right: 30px;
  padding-left: 30px;
  display: inline-block;
  max-width: 300px;
  vertical-align: top;
}

.gauge {
  background-color: #3cc47c;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  color: #2c3e50;
  text-align: center;
  display: inline-block;
}

.gauge h1 {
  font-size: 65px;
  padding-top: 20px;
  color: #2c3e50;
}

.gauge h2 {
  padding-bottom: 30px;
}

.gauge span {
  color: #000000;
}

.mainpage {
  min-height: 800px;
}

.upgrade-membership-btn {
  padding-top: 20px;
}

.profile {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.profile img{
  display: block;
  margin: 0 auto;
  border-radius: 0px;
}

.marketing {
  text-align: center;
}



.footer {
  background-color: #2c3e50;
  color: #FFFFFF;
  min-height: 80px;
  margin-top: 20px;
  padding: 15px 0px;
  text-align: center;
}

.footer a{
  color: #FFFFFF;
}

.pager .prev>a, .pager .prev>span {
    float: left;
}

.pager .next>a, .pager .next>span {
    float: right;
}

.questionfigure {
  text-align: center;
  padding: 10px 20px;
}

.passage {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 1px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
}

.passage hr {
  height: 1px;
  color: #C5C5C5;
  background-color: #C5C5C5;
  border: none;
  padding-bottom: 0px;
}

.source p {
  padding-top: 0px;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 3px;
}

.indepth h2 {
  margin: 5px;
  font-size: 30px;
  padding-bottom: 3px;
}

.indepth h3 {
  margin: 5px;
  font-size: 20px;
}

.indepth p {
  margin: 5px;
}

.homepage h1 {
  text-align: center;
  font-size: 35px;
}

.panel-default>.panel-heading {
    color: #FFF;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.inner-panel-default>.panel-heading {
    color: #2c3e50;
    background-color: #3cc47c;
    border-color: #2c3e50;
}

.panel-group {
    margin-bottom: 0px;
}