{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Us | {% endblock %}

{% block content %}

<!-- Main component for a primary marketing message or call to action -->

{% if user.is_authenticated %}
<div class="col-sm-10 col-sm-offset-2 main bluebox">
{% else %}
<div class="col-sm-10 col-sm-offset-1 main bluebox">
{% endif %}

    <h1>About Us</h1><hr>
    <div class="row">
        <div class="col-sm-12 about">
            <div class="jumbotron">
            <h2>What we do</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="{% url 'course_list' %}" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>

    <h1>Founders and Creators</h1><hr>
    <div class="row">
        <div class="col-sm-4 founders">
            <div class="jumbotron">
                <img class="img" src="{% static 'img/users/profile.jpg' %}" class="img-responsive">
                <h4>Amit Patankar (CEO)</h4>
            </div>
        </div>
        <div class="col-sm-4 founders">
            <div class="jumbotron">
                <img class="img" src="{% static 'img/users/profile.jpg' %}" class="img-responsive">
                <h4>Amit Patankar (CTO)</h4>
            </div>
        </div>
        <div class="col-sm-4 founders">
            <div class="jumbotron">
                <img class="img" src="{% static 'img/users/profile.jpg' %}" class="img-responsive">
                <h4>Amit Patankar (Marketing)</h4>
            </div>
        </div>
    </div>

    <h1>Courses we offer</h1><hr>
    <div class="row">
        <div class="col-sm-6">
            <h2>Behavioral Interviews</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="{% url 'course_list' %}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h2>Technical Interviews</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>LSAT</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h2>GRE</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>MCAT</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <h2>GMAT</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
</div>

{% endblock content %}