{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">


    <title>{% block title %}{% endblock %}Caprende</title>
    {% block javascript %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <style>
    body {
        min-height: 800px;
    }
        {% block style %}
        {% endblock %}
    </style>

    </head>

    <body>

        {% include 'navbar.html' %}

        {% if messages and user.is_authenticated %}
            <div class='col-sm-10 col-md-10 col-sm-offset-3 col-md-offset-2' style='text-align:left'>
                {% for message in messages %}
                    <div class="alert {% if 'error' in message.tags %}alert-danger{%else %}alert-success{% endif %}" role="alert">{% if 'safe' in message.tags %} {{ message|safe }} {% else %} {{ message }} {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if messages and not user.is_authenticated %}
            {% for message in messages %}
                <div class="alert {% if 'error' in message.tags %}alert-warning{%else %}alert-success{% endif %}" role="alert">{% if 'safe' in message.tags %} {{ message|safe }} {% else %} {{ message }} {% endif %}
                </div>
            {% endfor %}
        {% endif %}


        <div class="container-fluid mainpage">
            {% if user.is_authenticated %}
                {% include 'sidebar.html' %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div> <!-- /container -->

        <div class="row">
            {% include 'footer.html' %}
        </div>
    </body>
    {% include 'javascript.html' %}
    <script>
      $(document).ready(function(){
        // alert('jquery woking');
        {% block jquery %}
        {% endblock %}
      });
    </script>
    <script>
    $(document).ready(function(){
      $(".notification-toggle").click(function(e){
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'get_notifications_ajax' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data){
            $("#notification_dropdown").html(' <li role="presentation" class="dropdown-header">Notifications</li>');
            var count = data.count
            if (count == 0) {
              var url = '{% url "notifications_all" %}'
              $("#notification_dropdown").append("<li><a href='" + url+ "'>View All Notifications</a></li>")
            } else {
              $(data.notifications).each(function(){
                var link = this;
                $("#notification_dropdown").append("<li>" + link + "</li>")

              })
            }

          },
          error: function(rs, e) {
            console.log(rs);
            console.log(e);
          }

        })

      })

    })
    </script>
</html>