{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Welcome | {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 banner">
        <br><br>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-7">
                    <h1>Caprende</h1><hr>
                    <h3>Simple interview prep.</h3>
                    <p>Studying for a technical interview today isn't efficient, easy, or as beneficial as we'd like to think. With our methods of categorization, analysis, and targeted studying, you'll see improvements in less time and effort.</p>
                    <p>Caprende offers insight never before seen in traditional interview and prep studying. We analyze users with similar characteristics and use your performance to give you a comprehensive improvement plan.</p>
                    <p>
                      <a class="btn btn-block btn-primary" href="{% url 'account_signup' %}" role="button">Register &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-5 homelogin">
                    <h3>User Login</h3><hr>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success btn-block" type="submit">Sign In</button>
                    </form><br>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="col-sm-10 col-sm-offset-1 homepage">
    <!-- Three columns of text below the carousel -->
    <h1>Courses Offered</h1>
    <div class="row">
        <div class="col-sm-6">
            <h3>CS Technical Interview</h3>
            <p>This course will cover the basic CS algorithm questions asked in interviews by most companies. We will target all areas of computer science and engineering. Topics will range from basic algorithms, embedded C, networking, basic puzzles, recursion, scripting, runtime calculation, and basic problem solving. This is a great generic refresher course for technical applicants.</p>
            <p><a class="btn btn-primary" href="{% url 'course_list' %}" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-6">
            <h3>Finance Technical Interview</h3>
            <p>Although lots of non-finance and business majors tent to pursue careers in finances, technical questions are a big part of the interview. This course will cover the basics of accounting, finance, and business concepts. If you're pursing a career in banking, corporate finance, investment banking or other financial services field, this course will help you with technical finance questions.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-12">
            <h3>Coming Soon</h3>
            <p>Caprende has plans to expand to investment banking, general engineering, law, education, and generic interview courses as well. We also plan on expanding to post-graduate test courses such as the GRE, LSAT, and GMAT as well. <a href="{% url 'contact_us' %}">Contact us</a> with any suggestions you'd like to see on our website!</p>
        </div><!-- /.col-sm-4 -->
    </div>
    <br>

</div>



{% endblock content %}