{% load staticfiles %}
<div class="col-sm-2 sidebar">
    <ul class="nav nav-sidebar">
        <div class="profile">
            {% if user.profile.profile_image %}
                <img class="img" src="{{ user.profile.profile_image.url }}" width="100" height="100" class="img-responsive">
            {% else %}
                <a href="{% url 'edit_profile' %}"><img class="img" src="{% static 'img/users/profile.jpg' %}" width="100" height="100" class="img-responsive"></a>
            {% endif %}
            <h3>{{ user.profile.get_full_name }}</h3>
            <p>{{ user.profile.university }}</p>
            <small>{{ user.profile.major }}</small>
        </div>
        <hr>
        <li {% if dashboard %} class="active" {% endif %}><a href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a></li>
        <li {% if practice %} class="active" {% endif %}><a href="{% url 'next_question' %}">Practice Page</a></li>
        <li {% if peer_analytics %} class="active" {% endif %}><a href="{% url 'peer_analytics' %}">Peer Analytics</a></li>
        <li {% if cat_filt %} class="active" {% endif %}><a href="{% url 'category_filter' %}">Question Filter</a></li>
        <li {% if in_depth %} class="active" {% endif %}><a href="{% url 'in_depth' %}">In Depth</a></li>
    </ul>
        <div class="profile">
                {% if user.profile.motivational_image %}
                <img class="img" src="{{ user.profile.motivational_image.url }}" width="100" height="100" class="img-responsive">
            {% else %}
                <a href="{% url 'edit_profile' %}"><img class="img" src="{% static 'img/users/profile.jpg' %}" width="100" height="100" class="img-responsive"></a>
            {% endif %}
            <h3>On your way!</h3>
            <p>Stay motivated.</p>
        </div>
<!--     <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
    </ul> -->
</div>