{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Welcome | {% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-2 main bluebox">
		<h1>Edit Profile</h1>
		<hr>
		<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
			{{ form|crispy }}
			<input type='submit' class='btn btn-success btn-block' value='Update Profile' />
		</form>
		<hr>
		<a href="{% url 'account_email' %}" class="btn btn-primary btn-block" role="button">Change Email</a>

</div>

{% endblock content %}