{% extends "base.html" %}



{% block content %}


<div class='row'>
	<div class="col-sm-10 col-sm-offset-2 main bluebox">
		<!--div class="jumbotron"-->
			<h1>Account Settings</h1>
			<hr/>
			<h3>Notifications <small><a href='{% url "notifications_all" %}'>View All</a></small></h3>
			<table class="table table-striped">
				{% for note in notifications %}
					<tr><td>{{ note|safe }}</td><td>{% if note.read %} Read {% else %} Unread {% endif %}</td></tr>
				{% endfor %}
			</table>
			<hr/>

			<h3>Account Options</h3>
			<p class='lead'>
			{% if request.user.is_member %}
				Account active until: <b>{{ request.user.membership.date_ended }}</b>
			{% endif %}
			</p>

			{% if request.user.is_member and request.user.usermerchantid.subscription_id %}
				<a class='btn btn-warning btn-block' href='{% url "cancel_subscription" %}'>Cancel Membership</a>
			{% elif not request.user.is_member %}
				<a class='btn btn-success btn-block' href='{% url "account_upgrade" %}'>Upgrade Account</a>
			{% else %}

			{% endif %}

			<hr/>
			<h3>Recent Billing History <small>
				<a href='{% url "billing_history" %}'>View All</a>
				</small>
			</h3>
			<table class="table table-striped">

			<thead>
				<th>Order #</th>
				<th>Amount</th>
				<th>Payment Method</th>
				<th>Date</th>
			</thead>
			{% for object in transactions %}
			<tr>
				<td>{{ object.order_id }}</td>
				<td>${{ object.amount }}</td>
				<td>{{ object.card_type }}{% if object.last_four %} | {{ object.last_four }}{% endif %}</td>
				<td>{{ object.timestamp }}</td>

			</tr>


			{% endfor %}

			</table>

		<!--/div-->
	</div>
</div>


{% endblock %}