{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Question | {% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-2 main">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-9">
                <h1>{{ question.category_string }}</h1>
            </div>
            <div class="col-sm-3">
                <nav>
                  <ul class="pager">
                    <li class="next"><a href="{{ question.get_next_url }}">Next <span aria-hidden="true">&rarr;</span></a></li>
                  </ul>
                </nav>
            </div>
        </div>
        <p>{{ question.passage }}</p>
        <hr>
        {% if question.figure %}
            <div class="questionfigure">
                <img text-align="center" class="img" src="{{ question.figure.url }}" class="img-responsive">
            </div>
        {% endif %}
        <p>{{ question.question_text|safe }}</p>
        {% for item, value, correct in question.choices %}
            {% if correct and value == response %}
                <font color="green"><input type="radio" checked="checked" name="answer" value="{{ value }}"> {{ item|safe }}<br></font>
            {% elif correct %}
                <font color="green"><input type="radio" name="answer" value="{{ value }}"> {{ item|safe }}<br></font>
            {% elif value == response %}
                <font color="red"><input type="radio" checked="checked" name="answer" value="{{ value }}"> {{ item|safe }}<br></font>
            {% else %}
                <font color="black"><input type="radio" name="answer" value="{{ value }}"> {{ item|safe }}<br></font>
            {% endif %}
        {% endfor %}
        <br>
    </div>

    <div class='row'>
        <h1>Comments</h1>
        <hr>
        <form method='POST' action='{% url "comment_create" %}'> {% csrf_token %}
            <input type='hidden' name='question_id' value='{{ question.id }}'/>
            {% crispy comment_form comment_form.helper %}
        </form>
        <br>

        <table class = 'table'>
            {% for comment in comments %}
                <tr><td>
                    <br>
                    <div class="jumbotron">
                        {{ comment.get_comment }}
                        <small> via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</small>
                        {% if not comment.is_child %} 
                            <ul>
                                {% for child in comment.get_children %}
                                <li>
                                    {{ child.get_comment }} 
                                    <small>via {{ child.user }}</small>
                                </li>
                                {% endfor %}
                            </ul>
                            <a href='{{ comment.get_absolute_url }}'>View Thread</a> | <a class='reply_btn'>Reply</a>
                            <div class="reply_comment">
                                <form method='POST' action='{% url "comment_create" %}'> {% csrf_token %}
                                    <input type='hidden' name='parent_id' value='{{ comment.id }}'/>
                                    <input type='hidden' name='question_id' value='{{ question.id }}'/>
                                    {% crispy comment_form comment_form.helper %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </td></tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock content %}