{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Question | {% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-2 main">
    <br>
    <div class="jumbotron">
        <div class="row">
                <div class="col-sm-2">
                    {% if question.get_prev_url %}
                        <nav>
                          <ul class="pager">
                            <li class="prev"><a href="{{ question.get_prev_url }}">Prev <span aria-hidden="true">&larr;</span></a></li>
                          </ul>
                        </nav>
                    {% endif %}
                </div>
                <div class="col-sm-8 bluebox" text-align="center">
                    <h1>{{ question.category_string }}</h1><br>
                    <header><h4>{{ correct }} / {{ total }} questions answered correctly</h1></header>
                </div>
                <div class="col-sm-2">
                    {% if question.get_next_url %}
                        <nav>
                          <ul class="pager">
                            <li class="next"><a href="{{ question.get_next_url }}">Skip <span aria-hidden="true">&rarr;</span></a></li>
                          </ul>
                        </nav>
                    {% endif %}
                </div>
        </div>
        <hr>
        {% if question.figure %}
            <div class="questionfigure">
                <img text-align="center" class="img" src="{{ question.figure.url }}" class="img-responsive">
            </div>
            <hr>
        {% endif %}
        {% if question.passage %}
            <div class="passage">
                <p>{{ question.passage }}</p>
            </div>
            <hr>
        {% endif %}
        <form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
            <p>{{ question.question_text|safe }}</p>
            {% for item, value, correct in question.choices %}
            <input type="radio" name="answer" value="{{ value }}"> {{ item|safe }}<br>
            {% endfor %}
            <br>
            <input type='submit' class='btn btn-success btn-block' value='Submit' />
        </form>
        <br>
    </div>
</div>

{% endblock content %}