{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Question | {% endblock %}

{% block content %}

<div class='row'>
    <div class="col-sm-10 col-sm-offset-2 main dashboard">
        <h1>Caprende Analytics</h1>
        <hr/><br>
    </div>
</div>
<div class='row'>
    <div class="col-sm-2 col-sm-offset-2 main dashboard">
        <div class="gaugeholder">
            <div class="gauge gauge-offset">
                <h1>6.9</h1>
            </div>
            <h4>Inference</h4>
            <span>Reading Comprehension</span>
        </div>
    </div>
    <div class="col-sm-8 main dashboard">
        <table class = 'table table-striped'>
            <thead>
                <tr>
                  <th>Subcategory</th>
                  <th>Category</th>
                  <th>Percentage</th>
                </tr>
            </thead>
            {% for dataset in subcats %}
                <tr>
                    <td>{{ dataset.subcategory.name }}</td>
                    <td>{{ dataset.subcategory.category.name }}</td>
                    <td>{{ dataset.percent }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class='row'>
    <div class="col-sm-10 col-sm-offset-2 main dashboard">
        <hr/>
    </div>
</div>
<div class='row'>
    <div class="col-sm-2 col-sm-offset-2 main dashboard">
        <div class="gaugeholder">
            <div class="gauge">
                <h1>7.5</h1>
            </div>
            <h4>Direct Comprehension</h4>
            <span>Reading Comprehension</span>
        </div>
    </div>
    <div class="col-sm-8 main dashboard">
        <table class = 'table table-striped'>
            <thead>
                <tr>
                  <th>Subcategory</th>
                  <th>Category</th>
                  <th>Percentage</th>
                </tr>
            </thead>
            {% for dataset in subcats %}
                <tr>
                    <td>{{ dataset.subcategory.name }}</td>
                    <td>{{ dataset.subcategory.category.name }}</td>
                    <td>{{ dataset.percent }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class='row'>
    <div class="col-sm-10 col-sm-offset-2 main dashboard">
        <hr/>
    </div>
</div>
<div class='row'>
    <div class="col-sm-2 col-sm-offset-2 main dashboard">
        <div class="gaugeholder">
            <div class="gauge gauge-offset">
                <h1>8.9</h1>
            </div>
            <h4>Arc Lengths and Areas for Sectors</h4>
            <span>Geometry and Measurement</span>
        </div>
    </div>
    <div class="col-sm-8 main dashboard">
        <table class = 'table table-striped'>
            <thead>
                <tr>
                  <th>Subcategory</th>
                  <th>Category</th>
                  <th>Percentage</th>
                </tr>
            </thead>
            {% for dataset in subcats %}
                <tr>
                    <td>{{ dataset.subcategory.name }}</td>
                    <td>{{ dataset.subcategory.category.name }}</td>
                    <td>{{ dataset.percent }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br>

{% endblock content %}